body {
    background-color: linear-gradient(148deg,
    rgb(255, 162, 255), skyblue, rgb(255, 255, 78),
    rgb(141, 254, 141));
    font-family: "Lobster", sans-serif;
  font-weight: 400;
  background-image: url(https://cdn.pixabay.com/photo/2018/02/01/06/45/travel-3122702_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
    width: 1300px;
    margin: 0 auto;
}
.title {
    background-color: rgba(240, 255, 255, 0.827);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid gray;
    border-radius: 20px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.20);
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 60px;
}
.film {
    width: 1200px;
    background-color: #fff;
    padding: 30px;
    margin: 28px auto;
    display: flex;
    border: 1px solid gray;
    border-radius: 20px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.20);
    cursor: pointer;
    display: flex;
    gap: 60px;
}
.flim:hover {
    width: 1050px;
    background-color: aliceblue;
}
.film-img {
    border-radius: 20px;
    width: 525px;
    height: 917px;
    object-fit: cover;
}
.text {
    width: 615px;
}
.film-title {
    font-size: 40px;
    font-weight: 700;
}
p {
    font-size: 24px;
    color: #232323;
}
.bold {
    color: black;
    font-size: 26px;
    font-weight: 700;
}
.card {
    margin: 150px auto;
}
.list {
    list-style: none;
    width: 1000px;
    background: rgb(226,214,57);
background: linear-gradient(96deg, rgba(226,214,57,1) 13%, rgba(255,125,37,1) 38%, rgba(211,35,35,1) 71%, rgba(153,20,20,1) 91%);
    margin: auto;
    border: 1px solid gray;
    border-radius: 20px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.20);
    text-align: center
}
.item-title { 
    font-size: 40px;
    font-weight: 700;
    color: #232323;
}
.item-link {
    text-decoration: none;
    color: rgb(81, 8, 114);
    font-weight:900;
    font-size: 28px;
}
.item-link:hover {
    color: rgb(1, 1, 172);
}
.film-bg-red {
    background-color:#833131 ;
}
.film-bg-blue {
    background-color:#368cdb ;
}
.film-bg-orange {
    background-color:#f6911d ;
}